/*
 * CSS FOR FRIENDS PAGE
 */
#userProfileDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* style the user profile image */
#userProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover; /* add this to prevent image distortion */
}

.circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}

.divClass {
    align-items: center;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.follow-button {
    margin: 10px;
    background-color: #3897f0;
    color: #fff;
    padding: 3px 10px; /* decreased padding */
    border: none;
    border-radius: 3px;
    font-size: 12px; /* decreased font-size */
    font-weight: bold;
    cursor: pointer;
}

.heading3 {
  color: black;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

/*
 * CSS FOR SETTINGS PAGE
 */
#userSettingsHeader {
  padding: 1px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* changes to make for the themes change */
  border-color: dimgrey;
  border-style: solid;
  border-width: 1px;
  background-color: linear-gradient(to bottom, #17e35f, #191414);
}

.container {
  display: flex;
  flex-direction: row;
}

#sideNavBar {
  background-color: linear-gradient(to bottom, #17e35f, #191414);
  height: 100vh;
  width: 15%;
  padding: 1rem;
  border-color: dimgrey;
  border-style: solid;
  border-width: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 85%;
}

#content-header {
  width: 100%;
  margin-top: 1px;
  padding: 1px;
  height: 100%;
  /* changes to make for the themes */
  border-color: dimgrey;
  border-style: solid;
  border-width: 1px;
  background-color: linear-gradient(to bottom, #17e35f, #191414);
}

nav button {
    background-color: #17e35f;
    color: white;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

#userSettingsH1 {
  color: white;
}

body {
  background: linear-gradient(to bottom, #17e35f, #191414);
}

body.dark-mode {
  background: black;
}

body.dark-mode #userSettingsHeader {
  background-color: black;
}

body.dark-mode #sideNavBar {
  background-color: black;
}

body.dark-mode #userSettingsH1 {
  color: white;
}

body.dark-mode nav {
  background-color: black;
}

body.dark-mode #content-header {
  background-color: black;
}

body.dark-mode nav button {
  background-color: black;
  color: white;
}





